/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  margin-top: 100px;
  background-color: white;
  padding: 1rem;
  max-width: 375px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  border-radius: 2rem;
}
.container img {
  max-width: 100%;
  border-radius: 1rem;
}
.text {
  text-align: center;
  padding: 0.2rem;
}
.text h2 {
  padding: 1.2rem;
}
.text p {
  color: hsl(220, 15%, 55%);
}
.attribution {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
